* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Vazirmatn FD", "Segoe UI", sans-serif;
	// font-family: "Vazirmatn NL", "Segoe UI", sans-serif;
	// font-family: "Segoe UI", sans-serif;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background-color: #1e1e1e;
	color: #333;
}
